body {
    background: rgba(220, 235, 162, 1);
    background: -moz-linear-gradient(-45deg, rgba(220, 235, 162, 1) 0%, rgba(64, 75, 22, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(220, 235, 162, 1)), color-stop(100%, rgba(64, 75, 22, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(220, 235, 162, 1) 0%, rgba(64, 75, 22, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(220, 235, 162, 1) 0%, rgba(64, 75, 22, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(220, 235, 162, 1) 0%, rgba(64, 75, 22, 1) 100%);
    background: linear-gradient(135deg, rgba(220, 235, 162, 1) 0%, rgba(64, 75, 22, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dceba2', endColorstr='#404b16', GradientType=1);

    /*background-image: url(/images/planet_JDR_2d20.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;*/
}

.header {
    font-family: 'Lobster', cursive;
    color: darkolivegreen;
    border-color: darkolivegreen;
}

.badge-date {
    background-color: darkseagreen;
}

.badge-feed {
    background-color: darkolivegreen;
}

.badge-feed.reset-filters {
    background-color: darkred;
}

.badge-feed.selected {
    color: darkolivegreen;
    background-color: white;
}