body {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 1200px;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  border-bottom: 4px solid grey;
}

.content {
  clear: both;
  margin-top: 55px;
}

.site-post img {
  max-width: 40%;
  float:left;
  margin-right:25px;
  margin-bottom:10px;
}

.nova-close, .nova-more {
  color: black;
  cursor: pointer;
}

.rss i {
  color:orange;
}

.actions {
  clear:both;

}