body {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 1200px;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  border-bottom: 4px solid grey;
}

.content {
  clear: both;
  margin-top: 55px;
}

@media (min-width: 768px) {
  .feeds-cloud {
    width: 600px;
  }
}

.badge-date {
}

.badge-feed {
  margin: 2px;
}

.badge-feed.reset-filters {
  background-color: #AA4745;
}

.badge-feed.selected {
  background-color: #3C763D;
}

.clickable {
  cursor: pointer;
}

.loader {
  text-align: center;
  margin: 10px 0;
}

.site-post img {
  max-width: 100%;
  max-height: 100%;
}

.nova-close, .nova-more {
  color: black;
  cursor: pointer;
}