body {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 1200px;
}

.header, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}

.side-bar {
    position: fixed;
}

.feeds-cloud {
    margin-top:15px;
    margin-bottom:15px;
}

.badge-date {
}

.badge-feed {
    margin: 2px;
}

.badge-feed.reset-filters {
    background-color: #AA4745;
}

.badge-feed.selected {
    background-color: #3C763D;
}

.clickable {
    cursor: pointer;
}

.loader {
    text-align: center;
    margin: 10px 0;
}

.nova-close, .nova-more {
    color: black;
    cursor: pointer;
}

.nova-close, .nova-more {
    position: relative;
    left: 96%;
}