$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-color: black;
$background-color: white;

@import "general.scss";
@import "filters.scss";
@import "animate.scss";
@import "spinner.scss";
@import "theme.scss";