body {
    background-image: url(/images/planet_JDR_2d20.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

.site-post {
    padding: 8px;
    border-radius: 6px;
    text-align: left;
    background-color: #EEE;
    margin-bottom: 10px;
}

.loader {
    text-align:center;
    margin: 10px 0;
}
