<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 hidden-xs">
        <div ng-include="'partials/tools.html'"></div>
        <div ng-if="settings.isAdsenseEnabled" ng-include="'partials/adsense.html'"></div>
        <div ng-include="'partials/feed-sources.html'"></div>
        <div ng-include="'partials/credits.html'"></div>
    </div>

    <div class="col-md-6">
        <div infinite-scroll='postsPagination.get()' infinite-scroll-disabled='postsPagination.isLoading'
             infinite-scroll-distance='1'>

            <div nova-sticky offset="75"
                 ng-repeat="(itemIndex, item) in postsPagination.items | filtersByFeeds:selectedFeeds"
                 class="well infobox site-post" itemid="{{item.id}}">

                <div class="post-body">
                    <div ng-include="'partials/actions.html'"></div>

                    <span class="badge badge-feed">{{item.id}}</span>
                    <span class="badge badge-feed">{{item.pubDate | date:'dd-MMMM-yyyy'}}</span>
                    <span class="badge badge-feed">{{item.feedName}}</span>

                    <h3>{{item.title}}</h3>

                    <p ng-bind-html="item.content"></p>
                </div>
            </div>

        </div>
        <div class="spinner" ng-show="postsPagination.isLoading && postsPagination.hasNext">
            <img src="images/spinner.gif"/>
        </div>
    </div>

    <div class="col-md-2 hidden-xs"></div>
    <div class="col-md-1"></div>

</div>