<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 hidden-xs">
        <div class="well infobox">
            <div class="social-widgets">
                <div class="twitter-widget">
                    <a href="https://twitter.com/share" class="twitter-share-button"
                       data-url="{{settings.twitter.url}}"
                       data-text="{{settings.twitter.label}}">Faites nous connaître !</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                </div>
                <div class="fb-like" data-href="{{settings.siteUrl}}" data-layout="box_count"
                     data-action="like" data-show-faces="true" data-share="true">
                </div>
                <div class="rss">
                    <a href="{{settings.apiEndPoint}}rss"><i class="fa fa-rss-square fa-3x"></i></a>
                </div>
            </div>
        </div>
        <div ng-if="settings.isAdsenseEnabled" ng-include="'partials/adsense.html'"></div>
    </div>

    <div class="col-md-8">

        <div ng-include="'partials/staticposts.html'"></div>

        <!--<div infinite-scroll='postsPagination.get()' infinite-scroll-disabled='postsPagination.isLoading'
             infinite-scroll-distance='1'>
            <div nova-sticky ng-repeat="(itemIndex, item) in postsPagination.items | filtersByFeeds:selectedFeeds"
                 class="well infobox site-post">

                <div class="post-body">
                    <div ng-include="'partials/actions.html'"></div>
                    <h3>{{item.title}} - {{item.pubDate}}</h3>

                    <p>
                        <span class="badge badge-feed">{{item.feedName}}</span>
                    </p>

                    <p ng-bind-html="item.content"></p>
                </div>

            </div>
        </div>
        <div class="spinner" ng-show="postsPagination.isLoading && postsPagination.hasNext">
            <img src="images/spinner.gif"/>
        </div>-->
    </div>

    <div class="col-md-1"></div>

</div>