<div class="tools well infobox">
    <div class="twitter-widget">
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="{{settings.twitter.url}}"
           data-text="{{settings.twitter.label}}">Faites nous connaître !</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="fb-like" data-href="{{settings.siteUrl}}" data-layout="box_count"
         data-action="like" data-show-faces="true" data-share="true">
    </div>
    <div class="rss">
        <a href="{{settings.apiEndPoint}}rss"><i class="fa fa-rss-square fa-3x"></i></a>
    </div>
    <div>
        <a ng-dialog="partials/forms/add-feed.html">proposer une nouvelle source de flux</a>
    </div>
</div>