body {
  background-color: #2C2C2C;
  color: white;
}

.navbar {
  background-color: #8892BF;
  border-bottom: 4px solid #4F5B93;
}

.navbar-default .navbar-brand {
  color:white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: inherit;
}

.well.infobox, .actions {
  background-color: #F2F2F2;
  color: #333;
}