<div class="col-xs-1"></div>

<div class="col-xs-8">
    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
        <div ng-repeat="post in reddit.items | filter:filters"
             style="background-color: rgb({{feeds[post.feedId].color}},{{feeds[post.feedId].color}},{{feeds[post.feedId].color}})"
             class="site-post">
            <h2>{{feeds[post.feedId].name}} - {{post.creationDate}} - {{post.title}}</h2>

            <div ng-switch on="post">
                <p ng-switch-when="post.encoded !== ''">
                    {{post.encoded}}
                </p>

                <div ng-switch-default>
                    {{post.description}}
                </div>
                <p>
                    lire la <a href="{{post.url}}" target="_blank">suite</a>...
                </p>
            </div>
        </div>
        <div ng-show='reddit.busy'>Loading data...</div>
    </div>
</div>

<div class="col-xs-3">
    <a ng-click="filters.feedId = ''" class="site-erase-filters"><i class="fa fa-2x fa-eraser"></i> Effacer les filtres</a>
    <ul ng-repeat="(feedId, feed) in feeds">
        <li class="glyphicon glyphicon-tower site-feed-filters"
            style="color: rgb({{feed.color}},{{feed.color}},{{feed.color}})">
            <a ng-click="filters.feedId = feedId">{{feed.name}}</a>
        </li>
    </ul>
</div>

