<div class="col-xs-1"></div>

<div class="col-xs-8">
    <div infinite-scroll='postsPagination.get()' infinite-scroll-disabled='postsPagination.busy'
         infinite-scroll-distance='1'>
        <div ng-repeat="item in postsPagination.items" class="site-post">
            <h2>{{item.creationDate}} - {{item.title}}</h2>

            <div ng-switch on="item">
                <p ng-switch-when="item.encoded !== ''">
                    {{item.encoded}}
                </p>

                <div ng-switch-default>
                    {{item.description}}
                </div>
                <p>
                    lire la <a href="{{item.url}}" target="_blank">suite</a>...
                </p>
            </div>
        </div>
        <div ng-show="postsPagination.busy" class="loader">
            <img src="/images/loader.gif" height="48" width="48"/>
        </div>
    </div>
</div>

<div class="col-xs-3">
    <ul ng-repeat="(feedId, feed) in feeds">
        <li class="glyphicon glyphicon-tower">
            <a ng-click="postsPagination.get({feedId: feed.id}, true)">{{feed.name}}</a>
        </li>
    </ul>
</div>

