body {
  background: url(http://static-a.gs-cdn.net/themes/fusion/assets/stage_background.jpg) top center no-repeat #f86f05;
}

.navbar {
  color: beige;
  border-bottom: beige 4px solid;
}

.site-post img {
  max-width: 100%;
}